<nav class="navbar navbar-expand-lg navbar-dark bg-gray-dark text-white">
  <div class="container">
    <a class="text-white link-reset text-inherit pr-3" href="/">Carbon Footprint Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="footer.html">Information</a>
            <div>
              <p>How To Reduce My Personal Carbon Footprint? (Heading)
                We can say that , it’s hard to get someone’s exact carbon footprint. Besides this, in order to accurately reduce CO2 emissions,
                it’s also important to use numbers that approximately mirror someone’s local reality.
                in compliance with the World Health Organization suggestions, there are 5 main areas you can work on to improve your carbon footprint:
              </p>
              <p>
              TRANSPORTATION – EXAMPLES OF GOOD & SUSTAINABLE BEHAVIORS

              Avoid polluting car journeys (each liter of fuel burnt in a car engine emits over 2.5 kg of CO2) and favor walking, cycling or using public transport, especially trains;
              If you are driving, share the ride with others and don’t speed as it uses more petrol and therefore, emits more CO2;
              Avoid flying, the world’s fastest-growing source of CO2 emissions. If you do it, consider offsetting your emissions.
            </p>

              <p>
              2. FOOD – EXAMPLES OF GOOD & SUSTAINABLE BEHAVIORS

              1.Reduce the number of animal products consumed;
              2.Eat local and seasonal produced food: short trips mean less pollution from transportation;
              3.Recycle/ compost organic waste. Otherwise, methane will be released by the decomposing biodegradable waste in landfills.
            </p>

              <p>
              3. WATER USE – EXAMPLES OF GOOD & SUSTAINABLE BEHAVIORS

              1.Use the washing machine and dishwasher only when they are full;
              2.Boil only the water you will need and cover your pots while you cook: you’ll save plenty of energy and the process will be faster;
              3.Collect the cold water from the first seconds of your shower to water your garden or plants;
              4.Harvest rainwater if you have access to a rooftop as an alternative to groundwater;
              5.Raise hand pumps to protect drinking-water from flood contamination.
            </p>

              <p>
              4. ENERGY USE – EXAMPLES OF GOOD & SUSTAINABLE BEHAVIORS

              1.Be mindful of the temperature of your house: just 1ºC less reduce emissions (and your energy bill) by 5-10%;
              2.Turn down air-con for the cold – they are super energy expensive. Use a fan instead;
              3.Program your energy devices so that they’re on only while you are (about to get) home;
              4.Improve your house’s insulation so that less heat gets out when its cold and less heat comes in when it’s warm, reducing the need to use other devices;
              5.Mind the settings you choose: maybe your fridge doesn’t have to be in the coolest setting and your water cylinder thermostat doesn’t have to be set higher than 50ºC;
              6.Unplug your cellphone’s charger as it still drains electricity even when it is not connected to the cellphone;
              7.Switch off the lights when you don’t need them and use energy-saving lights such as LED;
              8.Change your electricity supplier for a greener one that provides more green (renewable) energy so help low carbon energy sources are strengthened.
            </p>

                <p>
                5. WASTE MANAGEMENT – EXAMPLES OF GOOD & SUSTAINABLE BEHAVIORS

                1.Refuse what you don’t need, reduce what you need; reuse it as many times as you can, re-purpose if you’re not using it anymore and recycle or compost it and something reaches the end of its lifecycle;
                2.Avoid buying new bags to transport your shopping back home by reusing your shopping bag;
                3.Choose products with little/no packaging: this ultimately cuts down production costs.
                </p>

            </div>
              </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
